h1{
    text-align: center;
}
#myCanvas{
    border: 1px solid #000;
    display: block;
    margin: auto;
}
.container-game{
    margin: auto;
    width: 1000px;
    height: 1000px;
}
.container-btn{
    padding: 10px 0;
}